@media only screen and (max-width: 800px) {
  .intro_section1 {
    .copyright {
      display: none;
    }

    .logo {
      top: 28px;
      left: 22px;
    }

    .logoImg {
      width: 60px;
    }

    .main_title {
      top: 50%;
      left: 18%;
      margin-top: -24vw;
      font-size: 9.5vw;
      height: 200px;
      margin-left: 0px;
      line-height: 14vw;
      text-align: center;
    }

    .sub_title {
      width: 100%;
      top: 50%;
      left: 0%;
      font-size: 12px;
      margin-left: 0px;
      margin-top: 8vw;
      text-align: center;
    }

    .site_title {
      left: 20px;
      bottom: 20px;
      font-size: 14px;
    }
  }

  .intro_section2 {
    padding-left: 70px;
    padding-right: 0px;
    margin-top: -60px;

    img {
      width: 100%;
    }
  }

  .intro_section3 {
    padding: 80px 20px;

    .sub_title2 {
      font-size: 11px;
    }

    .main_title2 {
      font-size: 17px;
      margin-top: 5px;
    }

    .section_desc {
      font-size: 13px;
      line-height: 23px;
      margin-top: 10px;
    }
  }

  .intro_section4 {
    padding: 40px 20px 50px;

    .main_title3 {
      font-size: 20px;
      -webkit-text-stroke: 0.7px #353535;
    }

    .main_desc {
      margin-top: 20px;
      margin-left: 0px;
      font-size: 13px;
      line-height: 23px;
    }
  }

  .intro_section5 {
    margin: 30px 0px;

    .main_section_tl {
      .img_section {
        height: 100%;
      }

      img {
        width: 100%;
      }

      .img_block {
        width: 80%;

        .main_title5 {
          display: none;
        }
      }

      .deco_title {
        top: 28vw;
      }
    }
  }

  .intro_section6 {
    margin-top: 60px;
    padding: 0px 20px 100px;
    height: 100%;

    .sub_title3 {
      font-size: 12px;
    }

    .section_desc2 {
      font-size: 13px;
      line-height: 23px;
      margin-top: 10px;

      br {
        display: none;
      }
    }

    .contact_summary {
      margin: 30px 0px;

      .cs_item {
        font-size: 13px;
        line-height: 30px;
        margin-bottom: 10px;
        width: 49%;
        margin-right: 0px;

        .cs_item:first-child {
          display: block;
        }
      }
    }

    .contact_form {
      width: 100%;
      position: relative;
      display: block;

      .input {
        box-sizing: border-box;
        line-height: 30px;
        font-size: 14px;
      }

      .textarea {
        box-sizing: border-box;
        line-height: 30px;
        font-size: 14px;
        height: 50px;
      }

      .submit_bt {
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
      }
    }

    .contact_desc3 {
      font-size: 13px;
      position: relative;
      bottom: inherit;
      margin-top: 20px;
      line-height: 24px;
    }

    .contact_deco {
      display: none;
    }

    .top_bt {
      bottom: 25px;
      font-size: 15px;
    }
  }

  ul {
    margin: 0px;
  }

  .sns_section {
    position: absolute;
    bottom: inherit;
    left: inherit;
    top: 26px;
    right: 20px;

    .sns_deco {
      display: none;
    }

    ul li {
      font-weight: 800;
      font-size: 17px;
      display: inline-block;
      margin-left: 20px;
      vertical-align: middle;
    }
  }
}
